@media only screen and (min-width:1104px) {
    body{color: black;}
}
@media  screen and (max-width:1104px) {
    body{background-color: black;}
    nav .ul{
        margin-top:-110px;
        width:auto;
        float: right;
    }
    nav .ul .li{font-size:17px;
        padding:20px;
    }
}
@media only screen and (max-width:768px) {
    body{background-color: rgb(192, 0, 0);}
}
@media only screen and (max-width:600px) {
    body{background-color: rgb(150, 94, 94);}
}
